/* app css stylesheet */

body {
  text-align: justify;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular_logo {
  width:120px;
}

.bootstrap_logo {
  width:120px;
  margin-left: 5px;
}

.nodejs_logo {
  width:120px;
  padding-bottom: 5px;
}

.input_home {
  width: 150px;
}

.examples_header {
  margin-bottom: 10px;
}

.examples_header > .right {
  text-align: right;
}

.todoTable tbody{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;  
}

.todoTable tbody td {
  width:153px;
}

.todoTable tbody td.td_left{
  display: block;
}

.todoTable tbody td.td_right{
  text-align : right;
  cursor: pointer;
}