<div class="row">
<div class="span9">
	<h3>¿Qué es Angular.js?</h3>
	<p>
	HTML es bueno para declarar documentos estáticos pero falla cuando nosotros intentamos usarlo para declarar vistas dinámicas en aplicaciones web. Gracias a Angular.js podemos extender el lenguaje HTML en nuestras aplicaciones. El resultado es un entorno extraordinariamente expresivo, legible y fácil de desarrollar.

	<div class="row examples_header">
		<div class="span6 left">
			<h4>Lo básico</h4>
		</div>
		<div class="span3 right">
			<a class="btn btn-success btn-small" href="http://jsfiddle.net/emarinizquierdo/TJCT3/1/" target="_blank"><i class="icon-white icon-pencil"></i> Edítame</a>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<pre class="prettyprint linenums">&lt;!doctype html&gt;<br/>&lt;html ng-app&gt;<br/>  &lt;head&gt;<br/>    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js&quot;&gt;&lt;/script&gt;<br/>  &lt;/head&gt;<br/>  &lt;body&gt;<br/>    &lt;div&gt;<br/>      &lt;label&gt;Name:&lt;/label&gt;<br/>      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;<br/>      &lt;hr&gt;<br/>      &lt;h1&gt;Hello <span ng:non-bindable>{{yourName}}</span>!&lt;/h1&gt;<br/>    &lt;/div&gt;<br/>  &lt;/body&gt;<br/>&lt;/html&gt;
			</pre>
		</div>
		<div class="span3">
			<div app-run="hello.html" class="well ng-scope"><div>
			  <label>Nombre:</label>
			  <input type="text" ng-model="yourName" placeholder="Introduce tu nombre" class="ng-valid ng-dirty input_home">
			  <hr>
			  <h4 class="ng-binding">Hola {{yourName}}!</h4>
			</div>
			</div>
		</div>
	</diV>

	</p>
	<h3>¿Qué es Bootstrap?</h3>
	<p>
	Bootstrap es un framework que simplifica el proceso de creación de diseños web combinando CSS y JavaScript. Ha sido desarrollado por Twitter que recientemente liberó su versión 2.0. La mayor ventaja es que podemos crear interfaces que se adapten a los distintos navegadores (responsive design) apoyándonos en un framework potente con numerosos componentes webs que nos ahorrarán mucho esfuerzo y tiempo.
	</p>
	<div class="row examples_header">
		<div class="span6 left">
			<h4>Lo básico</h4>
		</div>
		<div class="span3 right">
			<a class="btn btn-success btn-small" href="http://jsfiddle.net/emarinizquierdo/PJukQ/2/" target="_blank"><i class="icon-white icon-pencil"></i> Edítame</a>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<pre class="prettyprint linenums">&lt;h2&gt;Hola Mundo&lt;/h2&gt;<br/>&lt;h3&gt;Hola Mundo&lt;/h3&gt;<br/>&lt;h4&gt;Hola Mundo&lt;/h4&gt;<br/>&lt;button class=&quot;btn btn-small&quot;&gt;Por defecto&lt;/button&gt;<br/>&lt;button class=&quot;btn btn-primary btn-small&quot;&gt;B&aacute;sico&lt;/button&gt;<br/>&lt;button class=&quot;btn btn-warning btn-small&quot;&gt;Warning&lt;/button&gt;<br/>&lt;table class=&quot;table&quot;&gt;<br/>&lt;/table&gt;
			</pre>
		</div>
		<div class="span3">
			<div class="well" >
				<h2>Angular.js</h2>
				<h3>Bootstrap</h3>
				<h4>Node.js</h4>
				<button class="btn btn-mini">Por defecto</button>
				<button class="btn btn-primary btn-mini">Básico</button>
				<button class="btn btn-warning btn-mini">Warning</button>
			</div>
		</div>
	</diV>
	<h3>¿Qué es Node.js?</h3>
	<p>
	Node.js es un entorno de programación en la capa del servidor basado en el lenguaje de programación Javascript, con I/O de datos en una arquitectura orientada a eventos, y basado en el motor Javascript V8. Fue creado con el enfoque de ser útil en la creación de programas de red altamente escalables, como por ejemplo, servidores web. Fue creado por Ryan Dahl en 2009, y su evolución está apadrinada por la empresa Joyent, que además tiene contratado a Dahl en plantilla.
	</p>
	<h3>¿Qué podemos hacer con ellos?</h3>
	<p></p>
</div>
</div>
