
<h4>Devices</h4>

<div class="well">
  <table class="table">
    <thead>
      <tr >
        <th>#</th>
        <th>Name</th>
        <th>Identifiation</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="error">
        <td>0</td>
        <td>Arduino 01</td>
        <td>934993488349</td>
        <td>conectado</td>
        <td><i class="icon-remove"></i></td>
      </tr>
      <tr class="success">
        <td>1</td>
        <td>Arduino nano</td>
        <td>9131343488349</td>
        <td>desconectado</td>
        <td><i class="icon-remove"></i></td>
      </tr>
      <tr class="error">
        <td>2</td>
        <td>Oficina</td>
        <td>93434343449</td>
        <td>desconectado</td>
        <td><i class="icon-remove"></i></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="icon-green icon-plus"></i></td>
      </tr>
    </tbody>
  </table>
</div>

